<!doctype html>
<html>
  <head>
    <title>Crowdsource</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1 class='centered'>Welcome to Crowdsource Where you can set up polls.  Woo hoo!</h1>
      <p>To set up a new poll, fill in the information below and click submit.
      <p>You will be given 2 links, a voter link which lets someone cast a vote
        privately and a public voting link which will show all the votes as they come in.</p>
    </header>

    <h2>Enter info here for your new poll</h2>
    <form>
      <fieldset>
        <label for="">Poll Title: </label>
        <input id="poll-name" class="input" type="text" placeholder="Poll Name"></input><br>
        <div class="poll-options">
          <label>Create Poll Options: </label>
          <input class="option" type="text" placeholder="poll option"></input>
        </div><br>
        <div class="">
          <button class="add-option">Add Option</button>
          <button class="remove-option">Remove Option</button>
        </div>
        <div class="">
          <p>Optional: How many minutes from now do you want to close the poll?</p>
          <p>If you leave it blank the poll with remain open fr 24 hours</p>
          <input type="text" class="close-poll-time" placeholder="#"></input>
        </div>
        <div class="">
          <p>Click submit to create your poll and receive links to the poll</p>
          <input type="submit" class="submit-poll"></input>
        </div>
      </fieldset>
    </form><br><br>

    <div class="new-poll">
      <div class="new-poll-links"></div><br>
      <div id="close-poll-button"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/client.js"></script>
  </body>
  </html>
