<!doctype html>
<html>
  <head>
    <title>Poll Page</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>View the Poll</h1>
    <div class="poll-id hidden"><%= poll.pollId %></div>
    <div class="pole-name">
      <h1>Pole Name: <%= poll.poll.pollName %></h1>
    </div>
    <div>Your vote: <span id="your-vote"></span></div>
    <div class="poll-choices">
        <% for(option in poll.poll.pollOptions){ %>
          <button class="vote-cast"><%= poll.poll.pollOptions[option] %></button>
        <% } %>
    </div><br>
    <h3>Here is your poll votes: </h3>
    <div class="all-votes">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
