<h1>Cast a vote</h1>
<div id="status-message"></div>
<div class="pole-name">
  <h1><%= poll.poll.pollName %></h1>
</div>
<div>Total votes cast: <span id="vote-count"></span></div>
<div>Your vote: <span id="your-vote"></span></div>
<div class="poll-choices">
</div>
