<!doctype html>
<html>
  <head>
    <title>Vote Page</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Cast a vote</h1>
    <div class="poll-id hidden"><%= poll.pollId %></div>
    <!-- <div id="status-message"></div> -->
    <div class="pole-name">
      <h1><%= poll.pollInfo.pollName %></h1>
    </div>
    <div>Your vote: <span id="your-vote"></span></div>
    <% if(poll.pollInfo.active){ %>
      <div class="poll-choices">
          <% for(option in poll.pollInfo.pollOptions){ %>
            <button class="vote-cast"><%= poll.pollInfo.pollOptions[option] %></button>
          <% } %>
      </div><br>
    <% } else { %>
      <h2>thanks for playing but the poll is now closed</h2><br>
    <% } %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
